<h1 changeBgColor defaultColor='yellow'>{{title}}</h1>

<!-- <h3 *ngIf="isDev">This Is Development !!!!</h3> -->

<!-- <ng-template [ngIf]="isDev">
    <h3>This Is Development !!!!</h3>
</ng-template> -->

<!-- <ng-template *ngIf="isDev">This Is Dev</ng-template> -->

<!-- <ng-template [ngIf]="isDev">
    <ng-template>This Is Dev</ng-template>
</ng-template> -->

<!-- <ng-template [ngIf]="isDev">This Is Dev</ng-template> -->

<!-- <ng-template *ngIf="isDev then showEnvi"></ng-template>
<ng-template #showEnvi>This Is Development</ng-template> -->


<hr />
<hr />

<app-department-container (addStudentEvent)="addStudentEvent($event)"></app-department-container>

<hr />

<app-student-container [students]="students" [count]="count">
    <h2>Title: This Is Student List Container</h2>
    <h3>Sub-Title: Only Students</h3>
</app-student-container>

<!-- <ng-container *ngFor="let s of students">
    <p *ngIf="s._id">{{s.name}}</p>
</ng-container> -->