<!-- <div>

    <hr />
    <hr />

    <app-department-container (addStudentEvent)="addStudentEvent($event)">

    </app-department-container>

    <hr />


    <app-student-container [students]="students" [count]="count">
        <h1 #heading>Heading Ref</h1>
    </app-student-container>
</div> -->


<div>

    <nav>
        <a routerLink='/home'>Home</a>
        <a routerLink='/department'>Department</a>
        <a routerLink='/student-list'>StudentsList</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </nav>

    <br />
    <router-outlet></router-outlet>
</div>